# Ignorar a pasta venv
venv/

# Ignorar o banco de dados SQLite
db.sqlite3

# Ignorar a pasta de arquivos de mídia
media/

# Ignorar arquivos de configuração de ambiente
.env

# Ignorar arquivos de log
*.log

# Ignorar arquivos de tradução
*.pot

# Ignorar arquivos compilados do Python
__pycache__/
*.pyc
