{% extends 'base.html' %}

{% block content %}
<!-- Página de Sucesso -->
<section class="py-5 text-center">
    <div class="container">
        <!-- Logo da empresa -->
        <img src="{% static 'images/direito.png' %}" alt="Logo da Empresa" style="max-height: 100px;">

        <!-- Título da mensagem -->
        <h2 class="text-primary mt-4">Mensagem Enviada com Sucesso!</h2>

        <!-- Mensagem de agradecimento -->
        <p class="text-muted mt-3">
            Agradecemos pelo seu contato! Sua mensagem foi recebida com sucesso e nossa equipe irá respondê-lo o mais rápido possível.
        </p>

        <!-- Botão para voltar à Home -->
        <a href="{% url 'home' %}" class="btn btn-primary mt-4">Voltar para a Home</a>
    </div>
</section>
{% endblock %}
