{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Seção "Sobre o Advogado" -->
<section class="about-section py-5" style="background-color: #f8f9fa; color: #333;">
    <div class="container">
        <div class="row align-items-center">
            <!-- Texto sobre o advogado -->
            <div class="col-md-6 order-md-1 text-center text-md-left">
                <h2 class="section-title text-primary mb-4">Sobre o Dr. Guilherme Affi</h2>
            </div>

            <!-- Imagem do advogado -->
            <div class="col-md-6 order-md-0 text-center">
                <img src="{% static 'images/guilherme_affi.png' %}" alt="Dr. Guilherme Affi" class="img-fluid rounded-circle shadow-lg" style="max-width: 280px; height: auto;">
            </div>
        </div>
    </div>
</section>

<!-- Seção de Texto Adicional Profissional -->
<section class="additional-text-section py-5" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-primary custom-alert">
                    <h3 class="font-weight-bold mb-4">Guilherme Affi - Sua Tradição em Consultoria Jurídica</h3>
                    <p class="lead mb-4">
                        Guilherme Affi é um profissional apaixonado por compartilhar conhecimento e proporcionar experiências enriquecedoras. Com uma abordagem focada em inovação e educação, ele busca transformar o conteúdo em soluções práticas e acessíveis para seu público. Especializado na criação de artigos profundos e relevantes, Guilherme se dedica a ajudar seus leitores a se manterem atualizados com as últimas tendências e melhores práticas de sua área.
                        Sua expertise e comprometimento com a qualidade se refletem em sua produção, que é sempre pensada para agregar valor e facilitar o entendimento dos temas abordados. Além de ser um escritor talentoso, ele é um entusiasta de ferramentas digitais e estratégias de engajamento, buscando sempre oferecer o melhor conteúdo possível.
                        Seja para os profissionais da área ou para aqueles que estão começando a explorar novos horizontes, os artigos de Guilherme Affi oferecem uma leitura interessante e objetiva, sempre com foco em proporcionar aprendizado e transformação.
                    </p>
                    <p class="text-muted mb-4">
                        Ao longo da sua carreira, Dr. Guilherme Affi consolidou sua reputação como um dos principais advogados em sua área de atuação. Ele oferece um atendimento individualizado e soluções jurídicas personalizadas, visando sempre o melhor interesse de seus clientes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}